<section class='ae-container-fluid ae-container-fluid--inner rk-portfolio'>
    <ul>
        <li *ngFor="let vehicle of vehicles">
            <h2>{{ vehicle.name }}</h2>
            
            <p>Model: {{ vehicle.model }}</p>
            <p>vehicle Class: {{ vehicle.vehicle_class }}</p>
            <p>Manufacturer: {{ vehicle.manufacturer }}</p>
            <p>Cost in credits: {{ vehicle.cost_in_credits }}</p>
            <p>Length: {{ vehicle.length }}</p>
            <p>Minimum Crew: {{ vehicle.crew }}</p>
            <p>Passengers: {{ vehicle.passengers }}</p>
            <p>Cargo Capacity: {{ vehicle.cargo_capacity }}</p>
            <p>Consumable: {{ vehicle.consumables }}</p>
            <p>Max Atmosphering Speed: {{ vehicle.max_atmosphering_speed }}</p>

        </li>
    </ul>
</section>

<section class='ae-container-fluid ae-container-fluid--inner rk-portfolio'>
    <button *ngIf="prev != null" (click)="navigateBack()">Previous</button>
    <button *ngIf="next != null" (click)="navigateForward()">Next</button>
</section>