<section class='ae-container-fluid ae-container-fluid--inner rk-portfolio'>
    <ul>
        <li *ngFor="let planet of planets">
            <h2>{{ planet.name }}</h2>
            
            <p>Diameter: {{ planet.diameter }}</p>
            <p>Rotation Period: {{ planet.rotation_period }}</p>
            <p>Orbital Period: {{ planet.orbital_period }}</p>
            <p>Climate: {{ planet.climate }}</p>
            <p>Gravity Level: {{ planet.gravity }}</p>
            <p>Terrain: {{ planet.terrain }}</p>
            <p>Population: {{ planet.population }}</p>

        </li>
    </ul>
</section>

<section class='ae-container-fluid ae-container-fluid--inner rk-portfolio'>
    <button *ngIf="prev != null" (click)="navigateBack()">Previous</button>
    <button *ngIf="next != null" (click)="navigateForward()">Next</button>
</section>