<section class='ae-container-fluid ae-container-fluid--inner rk-portfolio'>
    <ul>
        <li *ngFor="let starship of starships">
            <h2>{{ starship.name }}</h2>
            
            <p>Model: {{ starship.model }}</p>
            <p>Starship Class: {{ starship.starship_class }}</p>
            <p>Manufacturer: {{ starship.manufacturer }}</p>
            <p>Cost in credits: {{ starship.cost_in_credits }}</p>
            <p>Length: {{ starship.length }}</p>
            <p>Minimum Crew: {{ starship.crew }}</p>
            <p>Passengers: {{ starship.passengers }}</p>
            <p>Cargo Capacity: {{ starship.cargo_capacity }}</p>
            <p>MGLT: {{ starship.MGLT }}</p>
            <p>Hyperdrive Rating: {{ starship.hyperdrive_rating}}</p>
            <p>Consumable: {{ starship.consumables }}</p>
            <p>Max Atmosphering Speed: {{ starship.max_atmosphering_speed }}</p>

        </li>
    </ul>
</section>

<section class='ae-container-fluid ae-container-fluid--inner rk-portfolio'>
    <button *ngIf="prev != null" (click)="navigateBack()">Previous</button>
    <button *ngIf="next != null" (click)="navigateForward()">Next</button>
</section>