<section class='ae-container-fluid ae-container-fluid--inner rk-portfolio'>
    <ul>
        <li *ngFor="let character of characters">
            <h2>{{ character.name }}</h2>
            
            <p>Gender: {{ character.gender }}</p>
            <p>Eyes color: {{ character.eye_color }}</p>
            <p>This character appear in a total of {{ character.films.length }} films.</p>
            <p>Movies where this character appears: </p>

            <ul>
                <li *ngFor="let film of character.filmsRequested">
                    <a routerLink="/characters" (click)="getFilmCharacters(film)"><p>{{ film.title }}</p></a>
                </li>
            </ul>
        </li>
    </ul>
</section>

<section class='ae-container-fluid ae-container-fluid--inner rk-portfolio sectionButtons'>
    <button *ngIf="prev != null" (click)="navigateBack()" class='button'>Previous</button>
    <button *ngIf="next != null" (click)="navigateForward()" class='button'>Next</button>
</section>